.navItem {
	font-size: 2vmin;

	&:hover {
		cursor: pointer;
		animation-name: scaleUp;
		animation-duration: 200ms;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;

		@keyframes scaleUp {
			0% {
				transform: scale(100%);
			}
			90% {
				transform: scale(110%);
			}
			100% {
				transform: scale(105%);
			}
		}
	}
}

.navItemSelected {
	color: var(--color4);
	// font-size: 3.0vmin;
}
